@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

#formCadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  font-size: 10pt;
  gap: 10px;
  background-color: rgba(234, 232, 232, 0.728);
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.153);
}

#formCadastro button {
  background: #fd377e;
  border: none;
  border-radius: 8px;
  padding: 13px 20px;
  color: white;
  width: 95%;
  cursor: pointer;
}

#formCadastro button:hover {
  background: #7e1e41;
  transition: 0.2s ease;
}

#formDiv1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#formDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#formDiv2 div {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#formDiv2 div select {
  border: none;
  background-color: white;
  width: 90%;
  padding: 4% 4%;
  border-radius: 7px;
  font-size: 10pt;
  font-weight: 300;
  color: rgba(66, 66, 66, 0.802);
}

.inputsForm {
  width: 90%;
  border: none;
  padding: 4% 4%;
  border-radius: 7px;
  color: rgb(66, 66, 66);
}

.inputsForm:hover {
  background-color: #fd37800d;
  transition: 0.2s ease;
}

label {
  font-size: 10pt;
  margin: 15px 0;
}
