@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

#card {
  background-color: white;
  margin: 5px;
  padding: 5px 20px;
  border-radius: 10px;
  border-left: 5px solid #03b898;
  width: 90%;
}

#divDesc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#divDesc div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

#divDesc {
  font-weight: bold;
}

.typeTransaction {
  font-weight: lighter;
}

svg {
  background-color: rgba(234, 232, 232, 0.728);
  padding: 5px;
  border-radius: 2px;
}
